{% extends "base.html" %}
{% block body %}
<h1> About Us </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus efficitur nibh ut sem elementum placerat. Quisque in pharetra turpis. Ut finibus odio ac mi auctor, in imperdiet lacus vestibulum. Pellentesque condimentum laoreet ornare. Donec justo nisl, pellentesque id tristique nec, semper et enim. In ultrices quam ac convallis convallis. Maecenas ligula erat, venenatis vitae feugiat sed, mattis sit amet lectus. Morbi eget elementum nisl, vel rhoncus tortor. Donec malesuada maximus erat, vel maximus mauris imperdiet nec. Aenean ligula dui, pulvinar scelerisque erat id, porta vestibulum dolor. Vestibulum auctor nec ligula at tempor. Aenean lacinia dui vel eros dignissim, in pellentesque urna scelerisque. </p>
{% endblock %}
